
.signIn__page {
	display: flex;
	flex-direction: column;
	gap: 54px;
}

.signIn__top {
	padding: 8px 0 0 20px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.signIn__bord {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.signIn__title {
	color:  #121212;
	font-family: Jost;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; 
}

.signIn__description{
	color:  #939199;
	text-align: center;
	font-family: Jost;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
}




.signIn__block{
	padding: 20px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.signIn__text {
	color: #1D1D1F;
	font-family: Jost;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; 
}

.signIn__layout {
	display: flex;
	
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
	
}

.signIn__email {

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;

}

.signIn__input--email {
	padding: 20px 16px;

	border-radius: 12px;
	border: 1px solid #775CE5;
}

.signIn__password {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
	position: relative;
	
}

.password-input-wrapper {
	position: relative;
	width: 100%;
}

.signIn__input--password {
	padding: 20px 16px;
	
	border-radius: 12px;
	border: 1px solid #775CE5;

	width: 100%;
}

.signIn__span {
	color: #1D1D1F;
	font-family: Jost;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 14px */
}

.signIn__href {
	color:  #775CE5;
	font-family: Jost;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	text-decoration-line: underline;
}

.signIn__icon {
	width: 22px;
	height: 22px;

	text-indent: -9999px;

	position: absolute;
	top: 50% ;
	right: 15px;
}

.toggle-password-button__show {
	background-image: url(../../../public/svg/password-show.svg);
}

.toggle-password-button__hide {
	background-image: url(../../../public/svg/password-hide.svg);
}


.signIn__button {
	display: flex;
	width: 353px;
	padding: 20px 140px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border-radius: 12px;
	background:  #775CE5;
}

.signIn__button--text {
	color: #FFF;
	text-align: center;
	font-family: Jost;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; 
}


