.settings__page--body {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding-top: 60px;
}

.settings__header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	color: #1D1D1F;
	text-align: center;
	font-family: Jost;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; /* 20px */
}

.settings__change {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
	align-self: stretch;

	color: #1D1D1F;
	font-family: Jost;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; 
}

.settings__change--name {
	color: #000;
	text-align: center;
	font-family: Jost;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; 
}

.settings__change--elem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;

	position: relative;
}

.settings__change--email {
	display: flex;
	padding: 20px 16px;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;

	border-radius: 12px;
	border: 1px solid #E9E8EB;
	background: #FFF;
}

.settings__change--password {
	display: flex;
	padding: 16px;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;

	border-radius: 12px;
	border: 1px solid  #E9E8EB;
	background:  #FFF;
}

.settings__button{
	display: flex;
	padding: 16px 140px;
	justify-content: center;

	border-radius: 12px;
	border: 1px solid  #775CE5;

	color:  #775CE5;
	text-align: center;
	font-family: Jost;
	font-size: 14px;
	line-height: 100%;
	width: 100%;


}

.settings__button--text {
	white-space: nowrap;
}

.settings__button--logout{
	border: 1px solid  #F23152;

	color: #F23152;
}

.settingsForm__icon {
	width: 22px;
	height: 22px;

	text-indent: -9999px;

	position: absolute;
	top: 50%;
	right: 15px;
}

.toggle-password-button__hide {
	background-image: url(../../../public/svg/password-hide.svg);
}

.toggle-password-button__show {
	background-image: url(../../../public/svg/password-show.svg);
}
