:root {
	background-color: black;
}

html {
	min-height: 100%;
	padding: 64px 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	max-width: 420px;
	width: 100%;
	margin: auto;
	height: 100%;
	background-color: white;

	width: 393px;
	height: 852px;
	border-radius: 24px;
}
