.signupConfirm__page {
	padding: 20px;

	border-radius: 24px;
	background: var(--White, #FFF);

	display: grid;

	justify-content: center;
	align-items: center;
	gap: 32px;
}

.signupConfirm__bord {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.signupConfirm__title {
	color: var(--100, #121212);
	font-family: Jost;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; 
}

.signupConfirm__description {
	color: var(--Grey-text, #939199);
	text-align: center;
	font-family: Jost;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; 
}

.signupConfirm__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.signupConfirm__code {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
	align-self: stretch;
}

.signupConfirm__code--title {
	color: var(--Black, #1D1D1F);
	font-family: Jost;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; 
}

.signupConfirm__code--input {
	display: flex;
	padding: 20px 16px;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;

	border-radius: 12px;
	border: 1px solid var(--Purple-main, #775CE5);
}

.signupConfirm__button {
	display: flex;
	width: 353px;
	padding: 20px 140px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border-radius: 12px;
	background: var(--Purple-main, #775CE5);
} 

.signupConfirm__button--text {
	color: #FFF;
	text-align: center;
	font-family: Jost;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; 
}
